<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter Test!</title>
    
    <!--<link rel="/static/style/stylesheet" href="style.css">

    <script type="text/javascript">
        var criteriaOptions = {{ data.criteriaOptions }}
    </script> -->
  </head>
  <body>
    <script>
        var criteriaOptions = "{{ data.criteriaOptions }}";
        var criteriaOptions_dataTypes = "{{ data.criteriaOptions_dataTypes }}"
    </script>
	<script src="/static/js/index.js"></script>


    <h4> {{category}} </h4>
    <select name="Category" onchange="window.location.href=this.value;" id="filter_category_selector">
      <option selected disabled value> -- Select a Category </option>
      <option value="./characters">Characters</option>
      <option value="./planets">Planets</option>
      <option value="./species">Species</option>
      <option value="./vehicles">Vehicles</option>
      <option value="./starships">Starships</option>
    </select>

    <br>

    <select onselect="filterCriteriaSelected();" name="Criteria" id="criteria_filter_selector">
        <option selected disabled value> -- Select a Criteria -- </option>
    </select>

    <div id="criteria_filter_options">
        <select class="criteria_filter_options criteria_filter_options_real" id="criteria_filter_options_dropdown_real">
          <option>Is</option>
          <option>Close To</option>
          <option>Greater Than</option>
          <option>Less Than</option>
        </select>

        <input class="criteria_filter_options criteria_filter_options_real" type="number" id="criteria_filter_options_entry_real">

        <select class= "criteria_filter_options criteria_filter_options_text" id="criteria_filter_options_dropdown_text">
          <option>Is</option>
          <option>Contains</option>
          <option>Starts With</option>
          <option>Ends With</option>
        </select>

        <input class="criteria_filter_options criteria_filter_options_text" type="text" id="criteria_filter_options_entry_text">
    </div>

    <button type="button">Add Filter</button>

    <br>
    <br>

    <div id="criteria_filters">

    </div>

    <br>
    <br>

    <button type="button">Search</button>
  </body>
</html>

