<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
    <link rel="stylesheet" href="/static/vehicles.css">
</head>
<body>
  <header>
      <div class="container">
	  <h1>Vehicles</h1>
	  <nav>
	      <ul>
		  <a href="/characters" class="characters-button">Characters</a>
		  <a href="/species" class="species-button">Species</a>
		  <a href="/planets" class="planets-button">Planets</a>
		  <a href="/starships" class="starships-button">Starships</a>
	      </ul>
	  </nav>
      </div>
      <a href="/" class="home-button" style="position: absolute; left:36.35cm; top:2.6cm;">Home</a>
  </header>
    <main>
        <div class="container">
            <input type="text" id="search" placeholder="Search vehicles...">
	    <!-- <div id="vehicles-info-container"></div> -->
            <div id="dropdown-container"></div>
            <ul id="vehicles-list">
                <!-- Static starships list -->
                <li data-vehicles="Sand Crawler">Sand Crawler</li>
                <li data-vehicles="T-16 skyhopper">T-16 skyhopper</li>
                <li data-vehicles="X-34 landspeeder">X-34 landspeeder</li>
                <li data-vehicles="TIE/LN starfighter">TIE/LN starfighter</li>
                <li data-vehicles="Snowspeeder">Snowspeeder</li>
                <li data-vehicles="TIE bomber">TIE bomber</li>
                <li data-vehicles="AT-AT">AT-AT</li>
                <li data-vehicles="AT-ST">AT-ST</li>
                <li data-vehicles="Storm IV Twin-Pod cloud car">Stomr IV Twin-Pod cloud car</li>
                <li data-vehicles="Sail barge">Sail barge</li>
                <li data-vehicles="Bantha-II cargo skiff">Bantha-II cargo skiff</li>
                <li data-vehicles="TIE/IN interceptor">TIE/IN interceptor</li>
                <li data-vehicles="Imperial Speeder Bike">Imperial Speeder Bike</li>
                <li data-vehicles="Vulture Droid">Vulture Droid</li>
                <li data-vehicles="Multi-Troop Transport">Multi-Troop Transport</li>
                <li data-vehicles="Armored Assault Tank">Armored Assault Tank</li>
                <li data-vehicles="Single Trooper Aerial Platform">Single Trooper Aerial Platform</li>
                <li data-vehicles="C-9979 landing craft">C-9979 landing craft</li>
                <li data-vehicles="Tribubble bongo">Tribubble bongo</li>
                <li data-vehicles="Sith speeder">Sith speeder</li>
                <li data-vehicles="Zephyr-G swoop bike">Zephyr-G swoop bike</li>
                <li data-vehicles="Koro-2 Exodrive airspeeder">Koro-2 Exodrive airspeeder</li>
                <li data-vehicles="XJ-6 airspeeder">XJ-6 airspeeder</li>
                <li data-vehicles="LAAT/j">LAAT/j</li>
                <li data-vehicles="LAAT/c">LAAT/c</li>
                <li data-vehicles="Tsmeu-6 personal wheel bike">Tsmeu-6 personal wheel bike</li>
                <li data-vehicles="Emergency Firespeeder">Emergency Firespeeder</li>
                <li data-vehicles="Droid tri-fighter">Droid tri-fighter</li>
                <li data-vehicles="Oevvaor jet catamaran">Oevvaor jet catamaran</li>
                <li data-vehicles="Raddaugh Gnasp fluttercraft">Raddaugh Gnasp fluttercraft</li>
                <li data-vehicles="Clone turbo tank">Clone turbo tank</li>
                <li data-vehicles="Corporate Alliance tank droid">Corporate Alliance tank droid</li>
                <li data-vehicles="Droid gunship">Droid gunship</li>
                <li data-vehicles="AT-RT">AT-RT</li>
                <li data-vehicles="AT-TE">AT-TE</li>
                <li data-vehicles="SPHA">SPHA</li>
                <li data-vehicles="Flitknot speeder">Flitknot speeder</li>
                <li data-vehicles="Neimoidian shuttle">Neimoidian shuttle</li>
                <li data-vehicles="Geonosian starfighter">Geonosian starfighter</li>
                <!-- End of static vehicles list -->
            </ul>
        </div>
    </main>
    <script src="/static/vehicles.js"></script>
</body>
</html>
